.App {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

h1 {
  /* display: flex; */
  font-size: 3rem;
  width: 100%;
}

h2 {
  font-size: 2rem;
  width: 100%
}

p {
  font-size: 1rem;
}

.fact {
  font-size: 1.5rem;
  width: 100%;
}

button {
  font-size: 1.2rem;
  height: 10%;
}