html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-image: linear-gradient(#8883e3 45%, #5fd2e9);
	color: black;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}